.first-box-container {

  width: 200px;

  height: 100px;

  position: absolute;
  left: 20px;

  background-color: red;

}



.second-box-container {

  width: 200px;

  height: 100px;

  position: absolute;
  left: 250px;

  background-color: yellow;

}



.third-box-container {

  width: 200px;

  height: 100px;

  position: absolute;
  left: 480px;

  background-color: green;
}